@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-wide styles */
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

/* Smoothness */
html {
  scroll-behavior: smooth;
}

