/* solar-load-calculator/frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-wide defaults */
html,
body {
  height: 100%;
}

/* Smooth theme transitions */
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}


